@import url('https://fonts.googleapis.com/css2?family=poppins');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
  text-decoration: none;

}
ul {
    list-style: none;

}
.active {
    text-decoration: underline;
    font-weight: bold;
}
body ,html{
    overflow-x: hidden;
    
}



header {
    width: 100%;
    height: 100%;
    background-image: url(./img3.jpg);
    min-height: 100vh;
    padding: 100px;
    display: flexbox;
    justify-content: center;
    color:whitesmoke;


     
    
}
.header.content {
    margin-bottom: 150px;
    color: aliceblue;
    text-align: center;
    


}
.header.content h2 {
    font-size: 4vmin;
}
.line {
    width: 150px;
    height: 4px;
    background: crimson;
    text-align: center;
    

}
.header-content h1{
    font-size: 4vmin;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 10ch;
}
.ctn {
    padding: 3px 15px;
    background-color:purple;
    border-radius: 30px;
    color:white;
}
nav{ 
height: 80px;
width: 100%;
background: purple; 
}
label.logo{
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding:0 100px ;
    line-height: 80px;

}
.home .form-container form{
    margin-top: 8rem;
    padding: 7rem;
    width: 40rem;
    background-color: rgb(87, 47, 124);
    box-shadow: 0 .3rem .5rem rosybrown;
    border-radius: 5rem;
}


nav ul{
    float: right;
    margin-right: 40px;

}
nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;

}
a.active,a:hover{
    border: 1px solid white;
    transition: .5s;
}
nav #icon{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
   margin-right: 40px;
   cursor: pointer; 
   display: none;
}
/* events */
section{
    width: 80% ;
    margin: 80px auto;
    color: navy;

}
.title{
    text-align: center;
    font-size: 3vmin;
}
.row{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    


}
.row.col.img{
    width: 90px;
    height: auto;
    justify-content: space-between;
    
    
}
.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position-x: center;
    justify-content: space-between;
    width: 80%;
     
}
.events .row{

    margin-top: 100px;
    
}
h3{
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;


}
i{
    color: whitesmoke;
}
p{
    color:rgb(6, 28, 117);
    padding: 0px 40px;

}
.events.ctn{
    margin-top: 30px;
}
.explore{
    width: 100%;
    height: 100vh;
    background-image: url(./img8.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    
}

.explore-content{
    width: 80%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.explore-conten h1{
    font-size: 7vmin;
    margin: 50px;

}
.explore-conten .line{
    margin-bottom: 50px;

}
.explore-conten p{
    color: white;
    
}
.explore-conten .ctn{
    margin-top: 40px
}
.content-col{
    width: 40%;
}
.image-col{
    width: 60%;
}
.tours .row.col{
    width: 50%;
    display: flex;

}


.tours .image-gallery{
    display: flex;
    flex-wrap:wrap ;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    
}


.image-gallery img{
    width: 250px;
    margin: 10px;
    
}
.content-col h1{
    font-size: 5vmin;

}
.content-col .line{
    margin-left: -50px;
}
.content-col p{
    padding: 0;
    margin: 30px auto;
}
.content-col .ctn{
    margin-left: -100px;
}
.footer{
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #31315e;
    text-align: center;
}
.footer p{
    color: whitesmoke;
    margin: 20px auto;
    padding: 20px auto;
}
@media only screen and (max-width:850px){
.navbar{
    padding: 0;

}
.logo{
    position: absolute;

}
.nav-links{
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-color: #31315e;
}
.nav-links li{
    margin: 30px auto;
}
}

@media (max-width: 1048px){
    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }
    nav ul{
        margin-right: 20px;

    }
    nav a{
        font-size: 17px;
    }
}
@media (max-width: 909px)
{
    nav #icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2f3640;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a.active,a:hover{
        border: none;
        color: #3498db;
    }
    nav ul.show{
        left: 0;
    }   

/* event section */
.row{
    flex-direction: column;
}
.row .col{
    margin: 20px auto;
}
.col img{
    max-width: 80%;
}
/* explore */
.explore-conten{
    width: 100%;

}
.tours .col{
    width: 100%;
}
.image-gallery{
    justify-content: center;
    align-items: center;
}
.image-gallery img{
    width: 90%;
}
.footer{
    padding: 10px;
}
}
img{
transition: transform .3s ease;

}
img:hover{
    transform: scale(1.1);
}
.ctn:hover{
    background: whitesmoke;
    color: purple;
    box-shadow: 2px 2px 5px #00000056;
}
li:hover{
    color: purple;
    cursor: zoom-out;
}